.round-btn {
    display: flex;
    flex-direction: column;
    background-color: blue;
    color: #fff;
    padding: 31px 6px;
    border-radius: 50%;
    text-align: center;
    font-size: 30px;
    margin: 34px 64px;

    &__text {
        font-size: 1.2rem;
        margin-top: 6px;
    }

    ion-icon {
        align-self: center;
    }
}