.round-btn {
    display: flex;
    flex-direction: row;
    background-color: blue;
    color: #fff;
    justify-content: center;
    padding: 10px;
    margin: 2px;

    &__text {
        font-size: .7rem;
        margin-top: 6px;
    }

    ion-icon {
        align-self: center;
        position: relative;
        top: 2px;
        margin-right: 6px;
    }
}

ion-icon[name="play"] {
    font-size: .8rem;
    position: relative;
    top: 2px;
}