<ion-content padding>
  <ion-list>
    <ion-list-header padding>Adjust Speed</ion-list-header>
    <ion-text><div class="current-speed">Current speed: {{speed}} ms</div></ion-text>
    <ion-range min="500" max="1500" pin="true" color="primary" name="speed" [value]="speed" (ionChange)="speedChanged($event)">
      <ion-label slot="start">500</ion-label>
      <ion-label slot="end">1500</ion-label>
    </ion-range>
  </ion-list>
</ion-content>

<ion-footer>
  <div class="round-btn"(click)=goToPlay()>
    <ion-icon name="play"></ion-icon>
    <span class="round-btn__text">Play</span>
  </div>
</ion-footer>